---
# Sindri Configuration - DevPod Kubernetes DevOps Example
# DevOps environment running as Kubernetes pod
version: "1.0"
name: sindri-devpod-k8s-devops

deployment:
  provider: devpod
  resources:
    memory: 4GB
    cpus: 2
  volumes:
    workspace:
      size: 30GB

extensions:
  profile: devops

# Cloud credentials for cloud-tools (included in devops profile)
secrets:
  - name: AWS_ACCESS_KEY_ID
    source: env
  - name: AWS_SECRET_ACCESS_KEY
    source: env
  - name: AZURE_CLIENT_ID
    source: env
  - name: AZURE_CLIENT_SECRET
    source: env
  - name: AZURE_TENANT_ID
    source: env

providers:
  devpod:
    type: kubernetes
    kubernetes:
      namespace: devpod-workspaces
      storageClass: standard
